.oneProductContainer {
  margin: 5% auto 0;
  width: 80%;
  display: flex;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}
.textConainer {
  margin: 0 20px ;
  padding: 20px 0 ;
}
.carticon {
  transition: 0.5s ease;
  font-size: 35px;
  margin-top: 15px;
  color: #8f7533;
}
.carticon:hover {
  transform: scale(1.2) perspective(1px);
}
.imgProduct {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 99.8%;
}
.imgHeading {
  font-size: 1.9vw;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.pr{
  font-size: 1.2vw;
  text-align: justify;
  text-justify: inter-word;
}
@media all and (max-width: 1000px) {
  .oneProductContainer {
    flex-wrap: wrap;
    width: 95%;
    margin-top: 10%;
  }
  .imgProduct {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
  }
  .imgHeading {
    font-size: 3vw;
  }
  .iconContainer{
    width: 50px;
    margin: 5px auto;
  }
}