.bigContainer {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 8%;
  width: 70%;
  margin-bottom: 50px;
}
.smallContainer {
  margin-left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgProduct {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.OneJewelry {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 400px;
  height: 100%;
}
.flex {
  margin-top: 5%;
  height: 500px;
  width: 900px;
}
.carticon {
  font-size: 30px;
  margin-top: 15px;
}
.deleteBtnnn{
  color: #8f7533;
  transition: 0.5s ease;
}
.deleteBtnnn :hover{
  transform: scale(1.2) perspective(1px);

}