.backImg {
  position: relative;
  width: 100%;
  height: 600px;
}
.propertyImges {
  width: 100%;
  height: 550px;
}
.paragraph {
  height: 100%;
  width: 100%;
}

.ContainerHome1 {
  margin: 10% 20%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video1 {
  margin-top: 10rem;
  width: 80%;
  height: 700px;
  margin-left: 8%;
  margin-bottom: 10%;
}

.imageHome1 {
  height: 400px;
  width: 900px;
  border-radius: 5px;
}
.goToBrand {
  /* background-color: #f0ede8; */
  background-color: black;
  color: aliceblue;
}
.LVImage {
  height: 400px;
  width: 900px;
}
.MaleDiv{
margin-left: 20% ;
  width:800px;
  height: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ModelMale{
  border-radius: 10px;
  height: 500px;
  width: 300px;
}
.KindMale{
  margin-top: 5%;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 30px;
  margin-left: 27%;
color: #8f7533;}

.KindFemale{
  margin-top: 5%;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 30px;
  margin-left: 55%;
color: #8f7533;
}