/* .imageList {
  width: 500px;
  height: 450px;
} */

.containerFemale {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.containerFemale > div {
  min-width: 70px;
  width: 10vw;
}

.itemImage {
  width: 10vw;
}

@media all and (max-width: 742px) {
  .containerFemale {
    width: 300px;
  }
}
