@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Cinzel+Decorative:wght@700&family=Mirza&family=Tajawal:wght@200;900&display=swap");

.describeItem {
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;  width: 90%; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-family: "Dosis", sans-serif;
  font-size: 60px;
  align-items: center;
  text-align: center;
  /* min-height: 100vh; */
  width: 600px;
  height: 750px;
  margin-left: 35%;
  color: #8f7533;
  margin-bottom: 50px;
  border-radius: 30px;
}
.Logg {
  /* margin-bottom: 20px; */
  display: block;
  margin-top: 100px;
  margin-bottom: 50px;
}
.inputs {
  padding: 100px;
}
.describeItem input {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-style: none;
  padding: 5px;
  font-size: 30px;
  border-radius: 3px;
  border-bottom: 0.5px solid rgb(255, 255, 255);
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  width: 350px;
}
.LogBtn {
  margin-top: 1%;
  color: #8f7533;
  padding: 6px 20px;
  border-radius: 7px;
  border: none;
  transition: 0.5s ease;
  background: rgba(255, 255, 255, 0);
  list-style: none;
  text-align: center;
  font-weight: bold;
}

.LogBtn:hover {
  cursor: pointer;
  transform: scale(1.25) perspective(1px);
}

.goIcon {
  color: #8f7533;
  font-size: 45px;
}
.mesageL {
  font-size: 25px;
}

.forgetPass {
  margin-top: 20px;
  font-size: 25px;
}

.forgetPass:hover {
  cursor: pointer;
}
.already {
  font-size: 30px;
  color: #8f7533;
}
.Signup {
  color: #cdae5d;
}
.linkk {
  color: #8f7533;
}

input {
  color: #8f7533;
}
