* {
  margin: 0;
  padding: 0;
}
.nav {
  /* background-color: rgba(0, 0, 0, 0.329); */
  position: relative;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.lie {
  display: inline-block;
  margin: 1% 5.5%;
  color: #005870;
}
.lie:hover {
  cursor: pointer;
}
​
#logOut {
  display: inline-block;
}
#logOut:hover {
  cursor: pointer;
}
​
.link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  color: white;
}
​
#logo {
  margin-right: 35%;
}